<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Seattle Fire Department 911 Dispatches</title>
        <style>
         #canvas {
             background-color: grey;
         }

        </style>
    </head>

    <body>
        <canvas id="canvas"></canvas>

        <script>
	 var seattleOutline = {{ seattleOutline }};

         var data = {{ data }};

         var width = {{ width }};
         var height = {{ height }};

         var canvas = document.getElementById("canvas");
         canvas.width  = width;
         canvas.height = height;

         var context = canvas.getContext("2d");

         var imageData = context.createImageData(width, height);
         for (var i = 0; i < width * height; i++) {
             imageData.data[i * 4] = 0;
             imageData.data[i * 4 + 1] = data[i];
             imageData.data[i * 4 + 2] = 0;
             imageData.data[i * 4 + 3] = 255;
         }
         context.putImageData(imageData, 0, 0);

	 for (var i = 0; i < seattleOutline.length; i++) {
	     var polygon = seattleOutline[i];

	     context.beginPath();
	     context.moveTo(polygon[0][0], polygon[0][1]);
	     for (var j = 1; j < polygon.length; j++) {
		 context.lineTo(polygon[j][0], polygon[j][1]);
	     }
	     context.stroke();
	 }
        </script>
    </body>
</html>
